# Python Reference Notebook

## Lambda Functions

Great for tweaking values as the input to another function or expression. It is commonly used within functions like `map`, `filter`, etc.

General format: <br>
>`lambda [arguments] : [expression]`

In [2]:
nums = [48, 6, 9, 21, 1]
square_all = map(lambda num: num**2, nums)

print(list(square_all))

[2304, 36, 81, 441, 1]

## Enumerate

When iterating, you can also return the index along with the label by using `enumerate`. 

General format: <br>
>`for index, value in enumerate(var):`

In [52]:
avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']

for index, value in enumerate(avengers):
    print(index, value)

0 hawkeye
1 iron man
2 thor
3 quicksilver

## Zip

Combine two values into tuples.

General format:<br>
>`result = zip(list1, list2)`

In [12]:
avengers = ['hawkeye', 'iron man', 'thor', 'quicksilver']
names = ['barton', 'stark', 'odinson', 'maximoff']
z = zip(avengers, names)

print(list(z))

[('hawkeye', 'barton'), ('iron man', 'stark'), ('thor', 'odinson'), ('quicksilver', 'maximoff')]

<br>
You can also unpack or 'unzip' these tuples.

General format:<br> 
>`list1, list2 = zip(*result)`

In [15]:
z = zip(avengers, names)
avengers_unzip, names_unzip = zip(*z)

print(avengers_unzip)
print(names_unzip)

('hawkeye', 'iron man', 'thor', 'quicksilver')
('barton', 'stark', 'odinson', 'maximoff')

## List Comprehension and Generators

### List Comprehension

List comprehension essentially compacts for loops into a single line. It allows you modify lists very succinctly. 

General format:<br> 
>`[[output expession] for iterator variable in iterable]`

In [18]:
result = [num for num in range(10)]
print(result)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
squares = [i**2 for i in range(0,10)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

<br>
You can even use list comprehension in a nested format. Below a list comprehension is used as the output expression for another list comprehension.

In [19]:
matrix = [[col for col in range(0,5)] for row in range(0,5)]
for row in matrix:
    print(row)

[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

<br>
Although you sacrifice readability, you can also nest comprehensions in sequence.

In [20]:
pairs = [(num1, num2) for num1 in range(0, 2) for num2 in range(6, 8)]
print(pairs)

[(0, 6), (0, 7), (1, 6), (1, 7)]

<br>
You can also use conditionals within comprehensions.

In [21]:
result = [num ** 2 for num in range(10) if num % 2 == 0]
print(result)

[0, 4, 16, 36, 64]

<br>
Another conditional example. The if-else conditional should be inserted inbetween the `output expression` and `for`.

General format: <br>
>`[[output expession] (if-else) for iterator_variable in iterable]`

In [23]:
fellowship = [
    'frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']
new_fellowship = [
    member if len(member) >=7 else '' for member in fellowship]
print(new_fellowship)

['', 'samwise', '', 'aragorn', 'legolas', 'boromir', '']

### Another List Comprehension Example

Say we have a continuous string that is actually octets of bits representing ASCII characters. We can use the following to break the string up into chunks of 8 and store it as a list.

In [2]:
bbs = '''
011100110010000001101110011011110010000000100000011010010010000001110011011
011100010000001100101001000000010000001101000001000000010000001100101001000
00011100100010000000100000011100000110110100100000011011110010000001100011
'''

In [2]:
octets = [bbs[i:i+8] for i in range(0, len(bbs), 8)]
print(octets)

['01110011', '00100000', '01101110', '01101111', '00100000', '00100000', '01101001', '00100000', '01110011', '01101110', '00100000', '01100101', '00100000', '00100000', '01101000', '00100000', '00100000', '01100101', '00100000', '01110010', '00100000', '00100000', '01110000', '01101101', '00100000', '01101111', '00100000', '01100011']

Now that we have the string separated into octets we can use another comprehension to turn them into characters.

In [3]:
chrs = [chr(int(octet, 2)) for octet in octets]
print(chrs)

['s', ' ', 'n', 'o', ' ', ' ', 'i', ' ', 's', 'n', ' ', 'e', ' ', ' ', 'h', ' ', ' ', 'e', ' ', 'r', ' ', ' ', 'p', 'm', ' ', 'o', ' ', 'c']

In order to remove all the `' '` we can use another comprehension:

In [4]:
chrs = [c for c in chrs if c != ' ']
print(chrs)

['s', 'n', 'o', 'i', 's', 'n', 'e', 'h', 'e', 'r', 'p', 'm', 'o', 'c']

Now we can join and reverse the individual letters:

In [5]:
message = ''.join(reversed(chrs))
print(message)

comprehensions

### List Generators

List generators are very similar to list comprehensions except format-wise they use `()` instead of `[]`. Code-wise the generators similar to functions like `range` in that they do not explicitly store each value in memory, they only store the method of generating the list and allow you to iterate over it.

Comprehension vs Generator example:

In [25]:
fellowship = [
    'frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

# List comprehension
fellow1 = [member for member in fellowship if len(member) >= 7]
print(fellow1)

# Generator expression
fellow2 = (member for member in fellowship if len(member) >= 7)
print(list(fellow2))

['samwise', 'aragorn', 'legolas', 'boromir']
['samwise', 'aragorn', 'legolas', 'boromir']

### List Comprehension Print Statement

In [ ]:
[print(x, 'has type', type(eval(x))) for x in [
    'np_vals', 'np_vals_log10', 'df', 'df_log10']]

### Generator Functions

Generator functions are functions that, like generator expressions, yield a series of values, instead of returning a single value. A generator function is defined as you do a regular function, but whenever it generates a value, it uses the keyword `yield` instead of `return`.

In [27]:
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

def get_lengths(input_list):
    """Generator function that yields the
    length of the strings in input_list."""

    # Yield the length of a string
    for person in input_list:
        yield len(person)

# Print the values generated by get_lengths()
for value in get_lengths(lannister):
    print(value)

6
5
5
6
7

#### Example

Real example of how to use list comprehension.

In [49]:
import pandas as pd
tweets = [
    'Tue Mar 29 23:40:17 +0000 2016', 'Tue Mar 29 23:40:17 +0000 2016',
    'Tue Mar 29 23:40:17 +0000 2016', 'Tue Mar 29 23:40:17 +0000 2016',
    'Tue Mar 29 23:40:17 +0000 2016', 'Tue Mar 29 23:40:17 +0000 2016',
    'Tue Mar 29 23:40:18 +0000 2016', 'Tue Mar 29 23:40:17 +0000 2016',
    'Tue Mar 29 23:40:18 +0000 2016', 'Tue Mar 29 23:40:18 +0000 2016',
    'Tue Mar 29 23:40:18 +0000 2016', 'Tue Mar 29 23:40:17 +0000 2016',
    'Tue Mar 29 23:40:18 +0000 2016', 'Tue Mar 29 23:40:18 +0000 2016',
    'Tue Mar 29 23:40:17 +0000 2016', 'Tue Mar 29 23:40:18 +0000 2016',
    'Tue Mar 29 23:40:18 +0000 2016', 'Tue Mar 29 23:40:17 +0000 2016',
    'Tue Mar 29 23:40:18 +0000 2016', 'Tue Mar 29 23:40:17 +0000 2016',
    'Tue Mar 29 23:40:18 +0000 2016', 'Tue Mar 29 23:40:18 +0000 2016',
    'Tue Mar 29 23:40:18 +0000 2016', 'Tue Mar 29 23:40:18 +0000 2016',
    'Tue Mar 29 23:40:17 +0000 2016', 'Tue Mar 29 23:40:18 +0000 2016',
    'Tue Mar 29 23:40:18 +0000 2016', 'Tue Mar 29 23:40:17 +0000 2016',
    'Tue Mar 29 23:40:18 +0000 2016', 'Tue Mar 29 23:40:18 +0000 2016']

In [50]:
tweet_time = pd.Series(tweets)
tweet_clock_time = [entry[11:19] for entry in tweet_time]
print(tweet_clock_time)

['23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:17', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18', '23:40:17', '23:40:18', '23:40:18']

<br>
With conditionals

In [51]:
tweet_clock_time_c = [
    entry[11:19] for entry in tweet_time if entry[17:19] == '18']
print(tweet_clock_time_c)

['23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18', '23:40:18']

## Context Manager

A context manager ensures resources are efficiently allocated. 

>`with open('world_info.csv') as iworld`

Here, the `with` statement is the context manager and it binds the csv file `'world_info.csv'` to `iworld`. This is useful if you intend to repeatedly access the file (i.e. reading it in line by line or in chunks).

## SQL in Python - SQLAlchemy

### Importing and getting Table Names

The first step is to create and define an engine.

In [ ]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///Chinook.sqlite')

You can query table names with `engine.table_names()`

In [ ]:
table_names = engine.table_names()
print(table_names)

### Establishing a connection and querying

In [ ]:
# connection object
con = engine.connect()

# to query, apply .execute('query')
rs = con.execute("SELECT * FROM Orders")

# to store as a pandas df
df = pd.DataFrame(rs.fetchall())

# to set columns
df.columns = rs.keys()

# close the connection
con.close()

You can also achieve this with the context manager to avoid forgetting to close the connection. To query directly with pandas, see Pandas_REF.ipynb.

In [ ]:
from sqlalchemy import create_engine
import pandas as pd

enine = create_engine('sqlite:///Chinook.sqlite')

with engine.connect() as con:
    rs = con.execute("SELECT OrderID, OrderDate, ShipName FROM Orders")
    df = pd.DataFrame(rs.fetchmany(size=5)) # import only 5 rows
    df.columns = rs.keys()